{% extends "base.html" %} 
{% load timetable_extras %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'src/css/busno.css' %}">
<script type="module" src="{% static 'src/js/busno.vue-registry.js' %}"></script>
<script id="apibusno" src="{% static 'src/js/busno.apibusno_to_dom.js' %}"></script>

{% endblock head %}

{% block title %}Bus HeXA{% endblock title %}

{% block content %}

<article>
    <aside>
        <p id="stopName"> 정류소가 조회되지 않습니다. </p>
        <button id="renewbutton">Renew</button>
    </aside>
    <br />
</article>

<section id="sectionRoot">
</section>

<script>
processApiBusno("{% url 'apibusno' %}", "/alias/");
renewbutton.onclick = () => processApiBusno("{% url 'apibusno' %}", "/alias/");
</script>

{% endblock content %}
