{% extends "base.html" %} 
{% load timetable_extras %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'src/css/busno.css' %}">
<script type="module" src="{% static 'src/js/busno.vue-registry.js' %}"></script>

{% endblock head %}

{% block title %}Bus HeXA{% endblock title %}

{% block content %}

<article>
    <aside>
        {% if stop_name %}
        <p> 정류소명: {{ stop_name }} </p>
        {% else %}
        <p> 정류소가 조회되지 않습니다. </p>
        {% endif %}
    </aside>
    <br />
</article>

<section>
    {% for bus in bus_info %}
    <aside>
        <section>
            <table style="overflow-x:hidden;">
                <thead>
                    <tr>
                        <th style="padding-right:0">{{ bus.bus_name }}</th>
                        {% if bus.stop_info.0.vehicle_no %}
                            <td>{{ bus.stop_info.0.vehicle_no }}</td>
                        {% elif bus.only_departure %}
                            <td>기점</td>
                        {% else %}
                            <td>...</td>
                        {% endif %}
                    </tr>
                </thead>
    
                {% for info in bus.stop_info %}
                    {% if info.remain_time %}
                    <tr>
                        <td>&#x1f68c; {{ info.remain_time }} ({{ info.stop_name }})</td>
                    </tr>
                    {% endif %}
    
                    {% if info.bus_time %}
                    <tr>
                        <td>&#128338; {{ info.bus_time }} 출발예정 </td>
                    </tr>
                    {% endif %}
                    {% if info.no_data %}
                    <tr>
                        <td> 더이상 버스가 없습니다. </td>
                    </tr>
                    {% endif %}
                {% endfor%}
    
            </table>
        </section>
    </aside>
    {% endfor %}
</section>

{% endblock content %}
