{% extends "base.html" %} 
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'src/css/departure.css' %}">
<script type="module" src="{% static 'src/js/departure.vue-registry.js' %}"></script>
<script src="{% static 'src/js/edit-time-form.js' %}"></script>
{% endblock head %}

{% block title %}Bus HeXA | 실험실{% endblock title %}

{% block content %}

<article v-scope>
    <aside v-if="!onEditTime">
        {% if request_time %}
        <p id="currentTime"> 현재 시각: {{ request_time }} <a @click="onEditTime=!onEditTime">시간 변경</a> </p>
        {% else %}
        <p> 시간이 조회되지 않습니다. </p>
        {% endif %}
    </aside>
    <aside style="display: none;" v-effect="$el.style.display = onEditTime ? 'block' : 'none'">
        <edit-time-form v-on:submit.prevent="filterRows"></edit-time-form>
    </aside>
</article>

<br />

<section>
    <table class="table" v-scope>
        <thead>
            <tr>
                <th>시간</th>
                <th>버스번호</th>
                <th>노선방면</th>
                <th>노선경유</th>
            </tr>
        </thead>
        {% if time_table %}
        
            {% for row in time_table %}
                <tr class="row">
                    <td>{{ row.bus_time }}</td>
                    <td>{{ row.bus_no }}</td>
                    <td>{{ row.bus_dir }}</td>
                    <td>{{ row.bus_via }}</td>
                </tr>
            {% endfor %}

        {% else %}
            <tr>
                <td colspan="4">시간표가 조회되지 않습니다.</td>
            </tr>
        {% endif %}
    </table>
</section>

{% endblock content %}