{% extends "base.html" %} 
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'src/css/departure.css' %}">
<script type="module" src="{% static 'src/js/departure.vue-registry.js' %}"></script>
<script src="{% static 'src/js/plain-form.js' %}"></script>
<script src="{% static 'src/js/material-input.js' %}"></script>
<script src="{% static 'src/js/text-button.js' %}"></script>
{% endblock head %}

{% block title %}Bus HeXA | 실험실{% endblock title %}

{% block content %}

<article v-scope>
    <aside v-if="!onEditTime">
        {% if request_time %}
        <span style="display: none;" @vue:mounted="setCurrentTime($el.innerText)">{{ request_time }}</span>
        <p id="currentTime"> 현재 시각: <span v-effect="$el.innerText = selectedTime ?? currentTime">Loading...</span> <a @click="toggleOnEditTime()">시간 변경</a> </p>
        {% else %}
        <p> 시간이 조회되지 않습니다. </p>
        {% endif %}
    </aside>
    <aside style="display: none;" v-effect="$el.style.display = onEditTime ? 'block' : 'none'">
        <!-- 
            ** TODO **
            <plain-form id="edit-time-form" v-on:submit.prevent="filterRows"> 
            여기서 v-on:submit.prevent를 shadowRoot안에 있는 form으로 넘길 수 있어야 합니다.
                -->
        <plain-form id="edit-time-form">
            <material-input id="hours" type="number" name="hours" min="0" max="24" label="Hours" required></material-input>
            <material-input id="minutes" type="number" name="minutes" min="0" max="60" label="Minutes" required></material-input>
            <text-button v-on:click="filterRows" label="시간 변경"></text-button>
        </plain-form>
    </aside>
</article>

<br />

<section>
    <table class="table" v-scope>
        <thead>
            <tr>
                <th>시간</th>
                <th>버스번호</th>
                <th>노선방면</th>
                <th>노선경유</th>
            </tr>
        </thead>
        {% if time_table %}
        
            {% for row in time_table %}
                <tr class="row">
                    <td>{{ row.bus_time }}</td>
                    <td>{{ row.bus_no }}</td>
                    <td>{{ row.bus_dir }}</td>
                    <td>{{ row.bus_via }}</td>
                </tr>
            {% endfor %}

        {% else %}
            <tr>
                <td colspan="4">시간표가 조회되지 않습니다.</td>
            </tr>
        {% endif %}
    </table>
</section>

{% endblock content %}