{% extends "base.html" %}
{% load timetable_extras %}
{% load static %}

{% block head %}
{% endblock head %}

{% block title %}Bus HeXA{% endblock title %}


{% block content %}

<section>
    <aside>
        <p>{{ lane }}</p>
    </aside>
    <aside>
        <p>주요역: {{ landmarks }}</p>
    </aside>
</section>

<section>
    <table>
        <thead>
            <tr>
                <th>순번</th>
                <th>노선</th>
                <th>운행중</th>
            </tr>
        </thead>
        {% for node in nodes %}
        <tr>
            <td>{{ node.node_order }}</td>
            <td>{{ node.node_name }}</td>
            <td>
                {% if positions|reportkey:node.node_order %}
                    {{ positions|reportkey:node.node_order }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <div>
    <table>
        <thead>
            <tr>
                <th>시간표</th>
            </tr>
        </thead>
            {% for tt in timetables %}
            <tr>
                <td>{{ tt.hour }}:{{ tt.minute }}</td>
            </tr>
            {% endfor %}
    </table>
</section>


{% endblock content %}
