{% extends "base.html" %}
{% load timetable_extras %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="/static/src/css/lane.css">
<script>
function ttshowhide() {
    var tts = document.getElementsByClassName("tt");
    for (var i = 0; i < tts.length; i++) {
        if(tts[i].style.display == 'none'){
            tts[i].style.display = "block";
        } else {
            tts[i].style.display = "none";
        }
    }
}
</script>
{% endblock head %}

{% block title %}Bus HeXA{% endblock title %}


{% block content %}

<article>
    <aside>
        <p>노선명: {{ lane.bus_name }}</p>
    </aside>
</article>
<section>
    <aside>
        <p>주요역: {{ landmarks }}</p>
    </aside>
</section>
<section>
    <table>
        <thead onclick="ttshowhide()">
            <tr>
                <th>시간표</th>
            </tr>
        </thead>
        {% for tt in timetables %}
            <tr>
                <td class="tt">{{ tt.hour }}:{{ tt.minute }}</td>
            </tr>
        {% endfor %}
    </table>
</section>
<section>
    <table>
        <thead>
            <tr>
                <th class="nord">순번</th>
                <th class="nnm">노선</th>
                <th>운행중</th>
            </tr>
        </thead>
        {% for node in nodes %}
        <tr>
            <td class="nord"><small>{{ node.node_order }}</small></td>
            <td class="nnm">{{ node.node_name }}</td>
            <td>
                {% if positions|reportkey:node.node_order %}
                    {{ positions|reportkey:node.node_order }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</section>


{% endblock content %}
