{% extends "base.html" %}
{% load timetable_extras %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="/static/src/css/lane.css">
<script>
function ttshowhide() {
    var tts = document.getElementsByClassName("tt");
    for (var i = 0; i < tts.length; i++) {
        if(tts[i].style.display == 'none'){
            tts[i].style.display = "block";
        } else {
            tts[i].style.display = "none";
        }
    }
}
</script>
<script id="apibushexa_lane" src="{% static 'src/js/lane.apibushexa_to_dom.js' %}"></script>
{% endblock head %}

{% block title %}Bus HeXA{% endblock title %}


{% block content %}

<article>
    <aside>
        <p id="lane_name_p">Placeholder</p>
    </aside>
</article>
<section>
    <aside>
        <p id="landmark_nodes_p">Placeholder</p>
    </aside>
</section>
<section>
    <table>
        <thead onclick="ttshowhide()">
            <tr>
                <th>시간표</th>
            </tr>
        </thead>
        <tr id="timetables_tr">
        </tr>
    </table>
</section>
<section>
    <table>
        <thead>
            <tr>
                <th class="nord">0</th>
                <th class="nnm">노선</th>
                <th>운행중</th>
            </tr>
        </thead>
        {% for node in nodes %}
        <tr>
            <td class="nord"><small>{{ node.node_order }}</small></td>
            <td class="nnm">{{ node.node_name }}</td>
            <td>
                {% if positions|reportkey:node.node_order %}
                    {{ positions|reportkey:node.node_order }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</section>

<script>
getApiLane("{% url 'apionelane' db_lane_id=lane.id %}");
</script>
{% endblock content %}
