{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="{% static 'src/css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}">
    <script src="{% static 'src/js/global.js' %}"></script>
    {% block head %}{% endblock head %}

    <title>
        {% block title %}{% endblock title %}
    </title>
</head>
<body>

    {% include "partials/header.html" %}
    
    <main style="padding:0">
        {% block content %}{% endblock content %}
        {% include "partials/footer.html" %}
    </main>
    

    {% csrf_token %}
    
</body>
</html>
