# Hide API key
key.txt
*.xml

# Hide virtualenv
busenv/
__pycache__/
*.py[cod]
init.sh

# Hide test
test.py

# Hide Secret Key
secret_key.txt

# Hide DB
db.sqlite3

# Hide log
log.txt

# Virtualenv files
bin
lib
pyvenv.cfg

# static files
static
